Source: driveu-decoder-gstreamer
Section: video
Maintainer: hanan <hanan@driveu.auto>
Standards-Version: 4.1.2

Package: driveu-decoder-gstreamer
Architecture: amd64
Description: DriveU decoders gstreamer lib

